# Sentinel Hub API Credentials
# Get your credentials from: https://www.sentinel-hub.com/
SH_CLIENT_ID=db24332e-0f29-4d9f-bc66-caebb37d660d
SH_CLIENT_SECRET=DwxFo8c4WMqT6jNooTAsSJ7X7SyHNQZv

# Google Gemini API Key
# Get your API key from: https://makersuite.google.com/app/apikey
GEMINI_API_KEY=AIzaSyDZuZaIIA-dKcUqEt2j0XmbEO0NJMig0r0
